@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
body {
  font-family: 'NanumSquare', sans-serif;
  /* Bootstrap의 폰트를 덮어쓰기 */
  --bs-body-font-family: NanumSquare;
  padding-top: 70px;
}

.App {
  text-align: center;
}
